
.main-container{
    padding:0 1rem 1rem 1rem;
  }

 .main-container .timeLine .card.border-light {
    border-color: #f9f9f9!important;
}

.timeLine .card .card-header{ 
padding-bottom: 10px;
padding-top: 10px;
font-weight: bold;
}
  
.p-datatable.p-datatable-sm .p-datatable-tbody > tr > td, .p-datatable.p-datatable-sm .p-datatable-thead > tr > th{ 
    padding: 0.75rem 1.5rem;
    font-size: 0.875rem;
    background-color: rgb(255, 255, 255) !important;
    line-height: 1.813rem; 
}
 

.p-dialog-mask.p-dialog-center .p-component { 
    font-size: 0.85rem; 
}

.p-dialog-mask.p-dialog-center  .p-float-label > label {
    left: 0.75rem; 
    font-weight: normal;
}