
.main-container{
    padding:1rem;
  }

 .main-container .timeLine .card.border-light {
    border-color: #f9f9f9!important;
}

.timeLine .card .card-header{ 
padding-bottom: 10px;
padding-top: 10px;
font-weight: bold;
}
  
  